
{
	local_certs
	auto_https disable_redirects # This is required to avoid redirect loops when using a reverse proxy and cloud load balancers.
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order mercure after encode
	order vulcain after reverse_proxy
	order php_server before file_server
	order php before file_server
}

{$CADDY_EXTRA_CONFIG}



## Need to set all hosts with port for the cloud.
# You may not have the hostname being called due to dynamic IPs and load balancers.
# Allowing all hosts on port 80 for health checks, local dev & cases where the hostname is unknown.
{$SERVER_NAME:localhost} {
	@static {
	file
	path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff
	}

	# wp-admin, wp-login, wp-cron, wp-json, wp-*, xmlrpc, etc.
	# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#request-matching
	@wordpressadmin {
	path /xmlrpc /wp-* 
	}

	header @static Cache-Control max-age=360000
	header @wordpressadmin Cache-Control no-cache

	header           Cache-Control max-age=2400
	header 		     Keep-Alive "timeout=5, max=100"
	header           Connection keep-alive
	#log {
	#	# Redact the authorization query parameter that can be set by Mercure
	#	format filter {
	#		wrap console
	#		fields {
	#			uri query {
	#				replace authorization REDACTED
	#			}
	#		}
	#	}
	#}

	root * /var/www/html/
	encode zstd br gzip

	# Uncomment the following lines to enable Mercure and Vulcain modules
	#mercure {
	#	# Transport to use (default to Bolt)
	#	transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
	#	# Publisher JWT key
	#	publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
	#	# Subscriber JWT key
	#	subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
	#	# Allow anonymous subscribers (double-check that it's what you want)
	#	anonymous
	#	# Enable the subscription API (double-check that it's what you want)
	#	subscriptions
	#	# Extra directives
	#	{$MERCURE_EXTRA_DIRECTIVES}
	#}
	#vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}
	php_server
}
